<li>
  {{burger_name}}
    <form class="create-form" id="newCustomer" action="/customer/{{id}}" method="post">
      <input type="text" placeholder="customer?" name="customer" id="{{id}}" class="person" data-status="{{devoured}}" data-burger="{{burger_name}}">
      <button type="submit" class="eat-burger" data-id="{{id}}"> Devour Burger 
      </button>
    </form>
</li> 